<?php if (isset($newesttranslation)): ?>
	<p>You are working with the last-saved translation '<?php print($newesttranslation); ?>'</p>
<?php endif; ?>
  <table>
<?php foreach($buffer as $count=>$row): ?>
		<tr <?php if ($count%2): ?> class="uneven" <?php endif; ?>>
		  <?php foreach($row as $col): ?><td><?php print($col); ?></td><?php endforeach; ?>
		</tr>
<?php endforeach; ?>
	</table>
	<p>Missing word count (English): <?php print($wcountmissing); ?></p>
	<p>Total word count (English): <?php print($wcounttotal); ?></p>
