<?php

	// PASTT: PHP Android Translation Tool
	// http://code.google.com/p/android-php-translator/
	// Licensed Apache License 2.0
	// http://www.apache.org/licenses/LICENSE-2.0
	
	define('DIRECT_ACCESSIBLE', TRUE);
	include_once('library/l10n/includes/common.php');
	include_once('controllers/l10n/common.php');
	include_once('controllers/l10n/app.php');
	include_once('views/l10n/edit/common.phtml');
	
	$lang = checkLang($meta["params"]["lang"]);
	$langname = $iso639[substr($lang, 0, 2)];
  $newesttranslation = L10n\App\findNewestTransltion($basedir, $lang);

	// Save the updated translation?
	if (isset($_POST['submit'])) {
    $newesttranslation = L10n\App\saveData($basedir, $lang, $langname, $frommail, $sendmail);
	}
	
	$pageTitle = 'Editing ' . $langname . ' translation - ' . $appname;

	echo '
	<script src="/js/l10nUtils.js" ></script>
	<script src="//translate.google.com/translate_a/element.js?cb=googleSectionalElementInit&ug=section&hl=' . $lang . '"></script>
	<h1>
	  <a href="/l10n/index/">L10n</a> >
	  <a href="/l10n/index/lang/' . $lang . '">' . $lang . '</a> >
	  Translating app text to ' . $langname . '
	</h1>
	<br/><div>A good starting point for translations is <a href="http://translate.google.com/"
	target="_blank">Google Translate</a></div>
	';
	
	// Load the XML files
	$strings = L10n\App\parseStrings($basedir . '/values/strings.xml');
	//dp($strings);
	
	// Load the translation XML file, if it exists
	$translations = null;
	if (isset($newesttranslation)) {
		echo '
	<p>You are working with the last-saved translation \'' . $newesttranslation . '\' (saved ' . date('d F Y H:i', filemtime($basedir . '/values-' . $lang . '/' . $newesttranslation)) . '). When you save your updates it will not override it but make a new copy.</p>
	<p id="showmissingrow"><input type="button" id="showmissing" name="showmissing" value="Show only missing translations" onclick="javascript:flipShowOnlyMissing();" /></p>';
		$translations = L10n\App\parseStrings($basedir . '/values-' . $lang . '/' . $newesttranslation);
	} else {
		echo '
	<p>No translation for this language currently exists. When saving for the first time, it will create a directory and the first strings.{timestamp}.xml for this new language.</p>';
	}

	renderForm($lang, $langname, $strings, $translations, $meta["params"]["type"]);

?>
