<?php
  function renderForm($lang, $langname, $strings, $translations, $type, $extraUrl = null) {
    echo '
    <form id="translationform" name="translationform" method="post" action="/l10n/edit/type/' . $type . '/lang/' . $lang . $extraUrl. '">
    <table id="translationtable">
      <tr>
        <th id="count">#</th>
        <th id="key">Key</th>
        <th id="org">English</th>
        <th id="wcount"></th>
        <th id="copy"></th>
        <th id="trans">' . $langname . ' (' . $lang . ')</th>
      </tr>';
    
    $isuneven = false;
    $classuneven = ' class="uneven"';
    
    // For every string in the original (English) file
    $count = 0;
    $wcounttotal = 0;
    $wcountmissing = 0;
    foreach ($strings as $string) {
      
      $name = $string['name'];
      $transtext = '';
      
      if ($string['type'] == 'string') {
        $value = $string['value'];
        if (isset($translations)) {
          $trans = findTranslation($translations, $name);
          $transtext = $trans['value'];
        }
      } else if ($string['type'] == 'stringarray') {
        $value = implode($arraySeparator, $string['values']);
        if (isset($translations)) {
          $trans = findTranslation($translations, $name);
          $transtext = implode($arraySeparator, $trans['values']);
        }
      }
      
      // Gather some stats
      $wcount = str_word_count($value);
      $wcounttotal += $wcount;
      if (strlen($transtext) < 1) {
        $wcountmissing += $wcount;			
      }
      //dp($trans);
  
      // Show a table row that has the key, the original English text and a input box with the translation text that is editable
      echo '
      <tr' . ($isuneven? '':$classuneven) . '>
        <td>' . ++$count . '</td>
        <td>' . $name . '</td>
        <td><div class="goog-trans-section" lang="en" id="TT_' . $count . '">
            <div class="goog-trans-control" id="TC_' . $count . '"></div>'
            . str_replace("\\n","<br/>",encodeForHtml($value)) . '
          </div>
        </td>
        <td>' . $wcount . '</td>
        <td>
          <input type="button" value=">" onclick="copy_text(TC_' . $count . ', TT_' . $count . ', ' . $name . ');" />
        </td>
        <td>';
        
        //if (strpos(encodeForInput($value),"\\n") !== FALSE) echo '<textarea style="word-wrap: break-word;height:10em;width:100%" id="' . $name . '" name="' . $name . '">' . str_replace("\\n","\n",encodeForInput($transtext)) . '</textarea>';
        //else echo '<input style="word-wrap: break-word;" type="text" id="' . $name . '" name="' . $name . '" value="' . encodeForInput($transtext) . '" /></td>';
        echo '<textarea style="word-wrap: break-word;height:100%;width:100%" id="' . $name . '" name="' . $name . '">' . str_replace("\\n","\n",encodeForInput($transtext)) . '</textarea>';
      echo '</tr>';
      
      $isuneven = !$isuneven;
    }
    echo '
    </table>
    
    <p>Missing word count (English): ' . $wcountmissing . '</p>
    <p>Total word count (English): ' . $wcounttotal . '</p>
  
    <input type="submit" id="submit" name="submit" value="Save updated translation" /><a href="/l10n/index/">or go back without saving</a>
    </form>
    ';
  }
 ?>
 