<?php

	define('DIRECT_ACCESSIBLE', TRUE);
	include_once('library/l10n/includes/common.php');
	include_once('controllers/l10n/common.php');
	include_once('controllers/l10n/phrases.php');
	include_once('views/l10n/edit/common.phtml');
	
	$lang = checkLang($meta["params"]["lang"]);
	$langname = $iso639[substr($lang, 0, 2)];
  $newesttranslation = L10n\Phrases\findNewestTransltion($basedir, $lang);

	// Save the updated translation?
	if (isset($_POST['submit'])) {
    $newesttranslation = L10n\Phrases\saveData($basedir, $lang, $langname, $frommail, $sendmail);
	}

	$pageTitle = 'Editing ' . $langname . ' translation - ' . $appname;

	echo '
	<script src="/js/l10nUtils.js" ></script>
	<script src="//translate.google.com/translate_a/element.js?cb=googleSectionalElementInit&ug=section&hl=' . $lang . '"></script>
	<h1>
	  <a href="/l10n/index/">L10n</a> >
	  <a href="/l10n/index/lang/' . $lang . '">' . $lang . '</a> >
	  Translating Winston phrases to ' . $langname . '
	</h1>
	<br/><div>Note that <strong>commas</strong> are used to divide the phrases into parts
	  that will be rebuilt by users in Winston\'s user interface. In order to improve the
		user experience, please look for common divisions for example given "I am hot" and
		"I am cold", we divide it into "I am" and "hot" or "cold".</div>
	<br/><div>A good starting point for translations is <a href="http://translate.google.com/"
	target="_blank">Google Translate</a></div>
	';
	
	// Load the csv files
	$strings = L10n\Phrases\parseStrings(L10n\Phrases\getTranslationDir($basedir, "en") . '/' . L10n\Phrases\FNAME . '.' . L10n\Phrases\FEXT);
	//dp($strings);
	
	// Load the translation csv file, if it exists
	$translations = null;
	if (isset($newesttranslation)) {
		echo '
	<p>You are working with the last-saved translation \'' . $newesttranslation . '\' (saved ' . date('d F Y H:i', filemtime(L10n\Phrases\getTranslationDir($basedir, $lang). '/' . $newesttranslation)) . '). When you save your updates it will not override it but make a new copy.</p>
	<p id="showmissingrow"><input type="button" id="showmissing" name="showmissing" value="Show only missing translations" onclick="javascript:flipShowOnlyMissing();" /></p>';
		$translations = L10n\Phrases\parseStrings(L10n\Phrases\getTranslationDir($basedir, $lang) . '/' . $newesttranslation);
	} else {
		echo '
	<p>No translation for this language currently exists. When saving for the first time, it will create a directory and the first dictionary.{timestamp}.csv for this new language.</p>';
	}
	
	renderForm($lang, $langname, $strings, $translations, $meta["params"]["type"]);
?>	
