<?php

	define('DIRECT_ACCESSIBLE', TRUE);
	include_once('library/l10n/includes/common.php');
	include_once('controllers/l10n/common.php');
  include_once('controllers/l10n/surveys.php');
	include_once('views/l10n/edit/common.phtml');
	
	if (!isset($meta["params"]["survey"])) {
		die('No survey specified; this should be in the query string.');
	}
	$survey = addslashes(htmlspecialchars(strip_tags($meta["params"]['survey'])));

	$lang = checkLang($meta["params"]["lang"]);
	$langname = $iso639[substr($lang, 0, 2)];
  $newesttranslation = L10n\Surveys\findNewestTransltion($basedir, $lang, $survey);
	
  // Save the updated translation?
	if (isset($_POST['submit'])) {
    $newesttranslation = L10n\Surveys\saveData($basedir, $lang, $langname, $frommail, $sendmail, $survey);
	}

	$pageTitle = 'Editing ' . $langname . ' translation - ' . $appname;

	echo '
	<script src="/js/l10nUtils.js" ></script>
	<script src="//translate.google.com/translate_a/element.js?cb=googleSectionalElementInit&ug=section&hl=' . $lang . '"></script>
  <h1>
	  <a href="/l10n/index/">L10n</a> >
	  <a href="/l10n/index/lang/' . $lang . '">' . $lang . '</a> >
    Translating ' . $survey . ' survey text to ' . $langname . '
	</h1>
	<br/><div>A good starting point for translations is <a href="http://translate.google.com/"
	target="_blank">Google Translate</a></div>
	';
	
	// Load the english file
	echo L10n\Surveys\getTranslationDir($basedir, "en") . '/' . $survey . '.xml';
	echo  '/[' . strlen($newesttranslation).']';
	$strings = L10n\Surveys\parseStrings(L10n\Surveys\getTranslationDir($basedir, "en") . '/' . $survey . '.xml');
	echo  '/[' . strlen($newesttranslation).']';
	
	// Load the translation file, if it exists
	$translations = null;
	if (isset($newesttranslation) && strlen($newesttranslation)) {
		echo '
	<p>You are working with the last-saved translation \'' . $newesttranslation . '\' (saved ' . date('d F Y H:i', filemtime(L10n\Surveys\getTranslationDir($basedir, $lang) . '/' . $newesttranslation)) . '). When you save your updates it will not override it but make a new copy.</p>
	<p id="showmissingrow"><input type="button" id="showmissing" name="showmissing" value="Show only missing translations" onclick="javascript:flipShowOnlyMissing();" /></p>';
		$translations = L10n\Surveys\parseStrings(L10n\Surveys\getTranslationDir($basedir, $lang) . '/' . $newesttranslation);
	} else {
		echo '
	<p>No translation for this language currently exists. When saving for the first time, it will create a directory and the first ' . $survey . '.{timestamp}.xml for this new language.</p>';
	}
	
	renderForm($lang, $langname, $strings, $translations, $meta["params"]["type"], "/survey/".$survey);

?>	
