<?php printTable($rs, $inputController->getResultsColumns(), "Survey Results");?>

<div class="generate_time">
  Generated: <?php echo date(DATE_RFC822);?>&nbsp;<img src="/images/clock-silver.png"/> 
</div>

<?php 
function printTable($rs, $columns, $summary) {
  print '<table id="hor-minimalist-b" summary="'.$summary.'"><thead><tr>';
  foreach ($columns as $key=>$value) {
    print '<th scope="col">'.$value.'</th>';
  }
   print '</tr></thead><tbody><tr>';
 
  $count = 0;
  foreach ($rs as $row) {
    if($count++%2!=0) {
      print '<tr>';
    } else {
      print '<tr class="alt">';
    } 
    foreach ($columns as $key=>$value) {
        print "<td>$row[$value]</td>";
/*
      if ($key == "requestor") {
        print '<td><a href="/index/patientboard/filter/'.$row["requestor_id"].'">'.$row[$key].'</a></td>';
      } else {
        print "<td>$row[$key]</td>";
      }
*/
    }
    print "</tr>\n";
  }
  print "</tbody></table>";
  print "Total: ".$rs->RecordCount();
}
?>
