    <div class="info">
      <article class="article clearfix">
        <div class="col_100">
          <h2>Voxgift</h2>
		  <div>
			<p class="dictionary_entry"><b>vox&#8226;gift</b> (voks&#8217; gift)</p>
			<p>Voice gift or gift of voice. For example, applications like <a href="http://www.patient-pilot.com/">PatientPilot</a> and Winston which give patients a voice, both literally and figuratively, allowing them to be active, informed participents in their journey through the healthcare systetm.</p>
			<p>[Latin: <i>vox</i> = voice]</p>
		  </div>

          <h2>Leadership</h2>
          <h3>Tom Giesberg, Founder</h3>
		  <p>A software developer by trade, Tom saw how difficult it was for people on respirators to communicate with their caregivers and loved ones so he created the Winston family of mobile applications. Tom's hope is that Winston &#8212; named for Winston Churchill, one of the world's great orators &#8212; will free patients to communicate their needs accurately, effectively, and comfortably.</p>

		  <h2>Contact Us</h2>
	      <p>Contact us at <a href="mailto:info@voxgift.com">info@voxgift.com</a> for a demonstration and to receive a quote.</p>

		</div>
      </article>
    </div>
