    <div class="info">
      <article class="hero clearfix">
    <div class="slideshow" onclick="slideshow.togglePlay()" onmouseover="slideshow.showControls()" onmouseout="slideshow.hideControls()">
        <div class="col_50 slide">
          <h2 id="ss_title"></h2>
          <p id="ss_caption"></p>
        </div>
        <div class="col_50 slide">
          <img src="" id="ss_image">
          <p id="ss_more"></p>
        </div>
        <div class="control_bar">
          <div class="button_pause" id="ss_btn_pp" title="Pause" style="visibility: hidden"></div>
        </div>
    </div>
      </article>
    </div>

<script>
var slides = [
            new Slide("Winston"
                , "Communicating visually and audibly."
                + "<br/><br/><a href=\"/index/winston\" class=\"link_icon\">Learn more</a>"
                , "<a href=\"http://www.youtube.com/watch?v=AP8tsyyJXjA\" class=\"video_link_icon\">Watch the video</a>"
                , "/images/winston_ss_1.png")
            , new Slide("WinstonPlus"
                , "Keeping your group in-the-loop."
                + "<br/><br/><a href=\"/index/winstonplus\" class=\"link_icon\">Learn more</a>"
                , "<a href=\"/c/account\" class=\"link_icon\">Get started</a>"
                , "/images/winstonplus_ss.png")
            , new Slide("WinstonPro"
                , "Improving patient satisfaction and provider efficiency."
                + "<br/><br/><a href=\"/index/winstonpro\" class=\"link_icon\">Learn more</a>"
                , "<a href=\"http://www.youtube.com/watch?v=QFnPDy8q1yQ\" class=\"video_link_icon\">Watch the video</a>"
                , "/images/winstonpro_ss.png")
            , new Slide("Trainer"
                , "Physical therapy and personal training with results."
                + "<br/><br/><a href=\"/index/trainer\" class=\"link_icon\">Learn more</a>"
                , ""
                , "/images/trainer_phone_composite.png")
          ];


var slideshow = new Slideshow(slides);

window.onload = function() {
    slideshow.initSlideElements();
	slideshow.changeSlide();
	setInterval(function() { slideshow.changeSlide() }, 5000);
    console.log("onload");
}    
</script>

