    <div class="info">
      <article class="article clearfix">
        <div class="col_100">
		  <h2>Trainer</h2>
		  <img src="/images/trainer_phone_composite.png" alt="" width="195" class="img_floatright"/>
		  <h3>Helps patients follow their therapist's orders and atheletes their trainer's instructions.</h3>
		  <h3><a href="https://itunes.apple.com/us/app/voxgift-trainer/id962091442" class="download_link_icon">Download on the AppStore</a>
		  </h3>
		  
		  <p>Voxgift Trainer is a mobile app that provides real time guidance to physical therapy patients and personal training clients as they work out. The guidance includes multiple audio and visual indicators of how to do the exercises, how many repetitions and sets have been completed, and encouragements to keep the person motivated.</p>

		<h3>How it works:</h3>
		<ol>
			<li>Using Home Exercise Program (HEP) software that supports Voxgift Trainer, a physical therapist/personal trainer (PT) prepares a workout plan as usual. </li>
			<li>When the plan is ready, the PT chooses “Export to Voxgift Trainer.”  The software packages the workout, uploads it to a secure server and produces a workout PIN, which is given to the patient/client.</li>
			<li>The patient downloads the Voxgift Trainer app from the App Store or Google Play and then enters the PIN. The app downloads the workout from the secure server and the patient is ready to begin their personalized work out.</li>
		</ol>

		<h3>Better experience/outcomes for the patient/client by:</h3>
		<ul>
			<li>Taking the confusion out of static instructions;</li>
			<li>Keeping track of how long that they’ve held a rep and how many reps have been completed; and</li>
			<li>Providing animations and audio prompts that lead them in real time.</li>
		</ul>

		<h3>Advantages over the competition:</h3>
		<ul>
			<li>Instructions are clearer and more portable than paper-based HEPs.</li>
			<li>Doesn’t require an internet connection to perform the exercises like web-based HEPs.</li>
		</ul>

		<h3>Benefits for the physical therapist/personal trainer/insurance provider:</h3>
		<ul>
			<li>Will work with existing HEP software packages.</li>
			<li>Will be able to optionally track patient usage.</li>
			<li>Better experience/outcomes for the patient, resulting in:
			<ul>
				<li>Better reviews/more referrals for PTs;</li>
				<li>Lower costs to insurance companies; and</li>
				<li>Reduced readmission rates and the associated penalties.</li>
			</ul></li>
		</ul>

		<img src="/images/trainer_tablet.png" alt="" width="250" class="img_floatright"/>

		<h3>Features:</h3>
		<ul>
			<li>Instructions are read out loud before each exercise.</li>
			<li>Provides prompts during exercise, including randomized positive reinforcements</li>
			<li>Provides familiar Stop, Play/Pause, Skip Back and Skip Forward controls</li>
			<li>Stores multiple workouts</li>
			<li>Gives estimated time to complete workout before beginning to exercise</li>
			<li>Provides exercise, set and rep counters along with a rep hold timer</li>
			<li>User controls include:
				<ul>
				<li>Turning instruction reading on and off</li>
				<li>Turning prompt reading on and off</li>
				<li>Voice playback rate</li>
				<li>Turning clock ticks on and off</li>
				<li>Turning begin and end chimes on and off</li>
				<li>Downloading and deleting workouts</li>
				</ul>
			</li>
		</ul>

		  <p>For more information, please contact us at  <a href="mailto:info@voxgift.com">info@voxgift.com</a></p>

		  <a href="https://itunes.apple.com/us/app/voxgift-trainer/id962091442">
			<img src="/images/Available_on_the_App_Store_Badge.png" alt=""/>
		  </a>
		</div>        
      </article>
    </div>
