    <div class="info">
      <article class="article clearfix">
        <div class="col_100">
		  <h2>WinstonPlus&trade;</h2>
		  <img src="/images/winstonplus_ss.png" alt="" class="img_floatright"/>
		  <h3>Empowers patients and their family and friends by keeping everyone connected and updated.</h3>
		  <h3><a href="/c/account" class="link_icon">Get started</a></h3>
		  <p>WinstonPlus combines the ease-of-use and text-to-speech features of Winston with a secure group text messaging system extending the reach of the patient's voice far beyond earshot. By giving patients and their families a single resource for communicating with each other, WinstonPlus eliminates the hassles of trying to navigate the many methods of communication (email, phone calls, text messaging, Facebook, Twitter, etc.) and addresses privacy concerns associated with ad-revenue supported social media and email services.</p>
		  <p>You use WinstonPlus to build a circle of friends and loved ones around the patient. Status updates, help requests and well wishes are instantly seen by all without everyone having to know everyone elses preferred mode of communication and appropriate contact details.</p>
		  <p>By communicating with and about the patient through WinstonPlus, you can ignore your email, Facebook updates and Twitter feed and concentrate on the needs of the circle of care.</p>
		  <p>The app is free to download and comes with free, unlimited text messaging (carrier data charges may apply). There is a small adminstration fee charged to whoever creates a circle but individual circle members participate for free. By creating circles through one of our partner organizations like the <a href="http://www.rmhc-austin.org">Ronald McDonald House Charities of Austin &amp; Central Texas</a>, the adminstration fee may be reduced or even eliminated.</p>
		  <p>WinstonPlus also adds numerous other features including custom phrase dictionaries and, for some languages, gender-specfic voices.</p>
		  <p>Please see the WinstonPlus <a href="/c/account">Quick Start Wizard</a> to build your own circle in two easy steps.</p>
		  <p>If you are interested in using WinstonPlus on a desktop or laptop computer and are using a webkit-based browser like Chrome or Safari, you can <a href="/c/WinstonPlus-1.0.2">click here</a>.</p>

		  <p>For more information, please contact us at <a href="mailto:info@voxgift.com">info@voxgift.com</a></p>

		  <a href="https://itunes.apple.com/us/app/voxgift-winstonplus/id646885435">
			<img src="/images/Available_on_the_App_Store_Badge.png" alt=""/>
		  </a>
		  <a href="https://play.google.com/store/apps/details?id=com.voxgift.winstonplus.android">
			<img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" class="img_floatright"" />
		  </a>
		</div>        
      </article>
    </div>
