    <div class="info">
      <article class="article clearfix">
        <div class="col_100">
		  <h2>WinstonPro</h2>
		  <img src="/images/winstonpro_ss.png" alt="" class="img_floatright"/>
		  <h3>Empowers patients by enabling them to communicate their needs to caregivers outside of the patient's room.</h3>
		  <h3><a href="http://www.youtube.com/watch?v=QFnPDy8q1yQ" class="video_link_icon">Watch the video</a></h3>
		  
		  <p>The WinstonPro <strong>System</strong> includes two different clients plus a server component and a web interface.</p>
		  <p>The WinstonPro <strong>Client</strong> is for patients and includes all of Winston's features plus the ability to page for assistance, page
		  tracking and, finally, voice input.<p>
		  <p>The WinstonPro <strong>Care Client</strong> is for healthcare providers and includes all of Winston's features plus the ability to receive
		  and respond to pages.</p>
		  <p>WinstonPro <strong>Server</strong> is the middleman receiving and forwarding requests and responses.</p>
		  <p>WinstonPro <strong>Console</strong> is a web interface to the real time and historical paging data and would most likely be displayed at a nurses station.</p>
	  
		  <img class="img_floatleft" src="/images/lifecycle.gif" alt="" />
		  <p>The request-response life cycle is roughly as follows:  the patient's request is sent to the server. The server in turn
		  notifies the caregivers and updates the console. The caregivers decide to either take care of the request right away or
		  to acknowledge it and follow up as soon as they can. Regardless, their response is sent to the server. The server then sends
		  it to the patient and once again updates the console.</p>
		</div>
		<div class="clearfix"></div>
		<div class="col_33">
		  <h2>Benefits for Patients</h2>
		  <ul>
			<li>Communicate your treatment needs accurately and comfortably</li>
			<li>Remove language obstacles</li>
			<li>Focus on your recovery, not on communicating your needs and desires</li>
		  </ul>
		</div>
		<div class="col_33">
		  <h2>Benefits for Families</h2>
		  <ul>
			<li>Communicate with your loved one</li>
			<li>Monitor your loved one&#8217;s comfort level when you are not present</li>
			<li>Know that your loved one is communicating their needs even when you are not there</li>
		  </ul>
		</div>
		<div class="col_33">
		  <h2>Benefits for Providers</h2>
		  <ul>
			<li>Improve patient satisfaction and safety</li>
			<li>Minimize communication errors and delays during treatment</li>
			<li>Track and analyze patient care statistics</li>
		  </ul>
		</div>
		<div class="clearfix"></div>
        <div class="col_100">
		  <p>Currently in field trials. Please contact <a href="mailto:info@voxgift.com">info@voxgift.com</a> to participate.</p>
		</div>        
      </article>
    </div>
