    <div class="info">
      <article class="article clearfix">
        <div class="col_100">
		  <h2>Winston</h2>
		  <img src="/images/winston_ss_1.png" alt="" class="img_floatright"/>
		  <h3>Empowers patients by enabling them to communicate their needs visually and audibly.</h3>
		  <h3><a href="https://itunes.apple.com/us/app/voxgift-winston/id561480536" class="download_link_icon">Download on the AppStore</a>
		  <a href="https://play.google.com/store/apps/details?id=com.voxgift.winston" class="download_link_icon">Get it on Google Play</a></h3>

		  
		  <p>The Winston client is a free mobile application for patients and care providers that is available today for iPhones, iPads and Android-based phones and tablets. Used in a standalone capacity, this component facilitates communication with family members or healthcare providers who are in proximity to the patient and can provide immediate assistance. It enables patients to communicate their needs visually and audibly by either:</p>
		  
		  <ul>
			<li>Tapping the appropriate button from a library of pre-defined phrases that are common and contextually relevant to a treatment situation (e.g., in an ICU versus a dentist's office)</LI>
			<li>Building requests from library phrase fragments</li>
			<li>Free-form entry via a keyboard</li>
		  </ul>
		  
		  <h3>Benefits for Patients</h3>
		  <ul>
			<li>Communicate your treatment needs accurately and comfortably</li>
			<li>Remove language obstacles</li>
			<li>Focus on your recovery, not on communicating your needs and desires</li>
		  </ul>
		  
		  <h3>Benefits for Families</h3>
		  <ul>
			<li>Communicate with your loved one</li>
			<li>Remove language obstacles</li>
			<li>Know that your loved one is communicating their needs even when you are not there</li>
		  </ul>
		  
		  <p>For more information, please contact us at  <a href="mailto:info@voxgift.com">info@voxgift.com</a></p>

		  <a href="http://itunes.apple.com/us/app/voxgift-winston/id561480536">
			<img src="/images/Available_on_the_App_Store_Badge.png" alt=""/>
		  </a>
		  <a href="https://play.google.com/store/apps/details?id=com.voxgift.winston">
			<img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" class="img_floatright"/>
		  </a>
		</div>        
      </article>
    </div>
