<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title><?php print($meta ["title"]) ?></title>
  <meta name="description" content="<?php print($meta ["description"]) ?>" />
  <meta name="keywords" content="<?php print($meta ["keywords"]) ?>" />
  <!-- <meta name="viewport" content="width = device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;" /> -->
  <meta name="HandheldFriendly" content="True" />
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
  <link href="/css/style<?php //print($meta ["mobile"]) ?>.css" media="screen" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="favicon.ico" />
  <script src="/js/pageUpdate.js" ></script>
</head>
<body>
<div id="outerWrapper">
	<div id="innerWrapper">
		<div class="header"><img src="/images/demologo.png" alt=""/><h1>St. Demo's<br/>Medical Center</h1>
			<br/>
		  <?php if (array_key_exists("departmentname", $meta)): ?>
			  <p>Department: <?php print($meta["departmentname"]);?> </p>
  		<?php endif; ?>
		</div>
		<?php if (array_key_exists("navitems", $meta)): ?>
		<div class="nav">
			<ul>
				<?php foreach ($meta["navitems"] as $key=>$value): ?>
				<li>
				<?php if ($key == "/".$meta["controller"]."/".$meta["action"]): ?>
					 <p><?php print($meta[$value]["title"]) ?></p>
				 <?php else: ?>
					 <a href="<?php print($key) ?>" title="<?php print($meta[$value]["description"]) ?>"><?php print($meta[$value]["title"]) ?></a>
				 <?php endif; ?>
				</li>
				<?php endforeach; ?>
			</ul>
		</div>
		<?php endif; ?>
	
		<div class="content">
			<?php if (file_exists($meta["path"] . "/" . $meta["view"])): ?>
  			<?php include_once($meta["view"]); ?>
			<?php else: ?>
				Invalid action
				<?php //var_dump($meta); ?>
			<?php endif; ?>
		</div>
	</div>
</div>
<div id="footer">
	<p><a href="mailto:info@voxgift.com">info@voxgift.com</a>
		- &copy; <?php echo(date('Y')) ?> <a href="/">VoxGift, LLC</p>
</div>

</body>

</html>
