<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <link href="/css/iphone.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
  <?php if (file_exists($meta["path"] . "/" . $meta["view"])): ?>
  <?php include_once($meta["view"]); ?>
  <?php else: ?>
	  Invalid action
	  <pre><?php print_r ($meta); ?></pre>
  <?php endif; ?>
</body>

</html>
