<?php
include_once('controllers/statUtilities.php');
$stats = array();
getRealtimeStatistics($DB, $stats);
$sData = "[" . join(", ", $stats) . "]";

$bins = array("300"=>0, "600"=>0, "86400"=>0);
getResponseTimes($DB, $bins);
$labels = array ("'<5 min (".$bins["300"].")'", "'<10 min (".$bins["600"].")'", "'>10min (".$bins["86400"].")'");
$responseTimeLabels = join(", ", $labels);
$responseTimesData = join(",", $bins);

$bins = array("4"=>0, "8"=>0, "12"=>0, "16"=>0, "20"=>0, "24"=>0);
getRequestDistribution($DB, $bins);
$requestDistributionLabels = "'4','8','12','16','20','24'";
$requestDistributionData = join(",", $bins);
?>

<div class="chart">
  <h2>Realtime statistics</h2>
  <table id="hor-zebra" summary="Realtime statistics">
    <tbody>
    <?php $count = 0; ?>
    <?php foreach ($stats as $label=>$stat): ?>
      <?php if($count++%2!=0): ?>
        <tr>
      <?php else: ?>
        <tr class="odd">
      <?php endif; ?> 
      <td><?php print($label);?></td><td><?php print($stat);?></td>
      </tr>
    <?php endforeach; ?>
    </tbody>
  </table>
</div>
<div class="chart">
  <h2>Response times</h2>
  <canvas id="responseTimeChart" width="300" height="150">[No canvas support]</canvas>
</div>
<div class="chart">
  <h2>Requests by time-of-day</h2>
  <canvas id="requestDistributionChart" width="300" height="150">[No canvas support]</canvas>
</div>
<div class="generate_time">
Generated: <?php echo date(DATE_RFC822);?>&nbsp;
<img src="/images/clock-silver.png" onload="
  updateResTimeChart(Array(<?php print($responseTimesData) ?>),Array(<?php print($responseTimeLabels) ?>));
  updateReqDistChart(Array(<?php print($requestDistributionData) ?>),Array(<?php print($requestDistributionLabels) ?>));
  " />
</div>
