<div class="leftnav">
  <?php  $tables = $DB->MetaTables(); ?>
  <ul>
  <?php  foreach($tables as $table): ?>
    <li><a href="/index/database/table/<?php print($table); ?>"><?php print($table); ?></a></li> 
  <?php  endforeach; ?>
  </ul>
</div>
<div class="rightcontent">

<?php if (array_key_exists("params", $meta) && array_key_exists("table", $meta["params"])): ?>
  <h3><?php print $meta["params"]["table"]; ?></h3>
  <div class="dtable">
    <?php showTable($DB, $meta["params"]["table"]); ?>
  </div>
<?php else: ?>
  <p>Select a table</p>
<?php endif; ?>
</div>
<div class="generate_time">
  Generated: <?php echo date(DATE_RFC822);?>&nbsp;<img src="/images/clock-silver.png"/> 
</div>


<?php 
function showTable($DB, $table, $order="id") {

  $columns = $DB->MetaColumnNames($table);
  //  echo "<pre>"; print_r($columns); echo"</pre>";
  $rs = $DB->Execute("SELECT * FROM ".$table." ORDER BY ".$order);
  //  echo "<pre>"; print_r($rs); echo"</pre>";

  print '<table id="hor-zebra" summary="Patient Status Board"><thead><tr>';
  foreach ($columns as $column) {
    print '<th scope="col">'.$column.'</th>';
  }
  print '</tr></thead><tbody><tr>';
 
  $count = 0;
  foreach ($rs as $row) {
    if($count++%2!=0) {
      print '<tr>';
    } else {
      print '<tr class="odd">';
    } 
    foreach ($columns as $column) {
      print "<td>$row[$column]</td>";
    }
    print "</tr>\n";
  }
  print "</table>";
}
?>
