<?php
  $CONSOLE_DEVICE_ID = '0123456789';
    
  //  echo "<pre>"; print_r($rs); echo"</pre>";

  print '<table id="hor-minimalist-b" summary="Patient Status Board"><thead><tr>';
  foreach ($columns as $column) {
    print '<th scope="col">'.$column.'</th>';
  }
  print "<th>Last ACK</th>";
  print "<th>Action</th>";
  print "</tr></thead><tbody>\n";
  
  $count = 0;
  foreach ($rs as $row) {
    if($count++%2!=0) {
      print '<tr>';
    } else {
      print '<tr class="alt">';
    } 
    foreach ($columns as $column) {
      if ($column == "Patient") {
        print '<td><a href="/index/patientboard/filter/'.$row["RequestorID"].'">'.$row[$column].'</a></td>';
      } else {
        print "<td>$row[$column]</td>";
      }
    }

    print '<td class="cloak">';
    if ($row['ack_ts'] == 0) {
      print '<form action="openrequestboard" method="post">
        <input type="hidden" name="action" value="ack" />
        <input type="hidden" name="id" value="'.$row['id'].'" />
        <input type="hidden" name="ackDeviceId" value="'.$CONSOLE_DEVICE_ID.'" />
        <button><img src="/images/alert_animation.gif" alt="Alert icon"/></button> None</form>';
    } else {
      print $row['ack_ts'] . " by " . $row['ack_name'] ;
    }
    print '</td>';

    print '<td class="cloak">
    <form action="openrequestboard" method="post">
    <input type="hidden" name="action" value="ack" />
    <input type="hidden" name="id" value="'.$row['id'].'" />
    <input type="hidden" name="ackDeviceId" value="'.$CONSOLE_DEVICE_ID.'" />
    <button>ACK</button></form> |
    <form action="openrequestboard" method="post">
    <input type="hidden" name="action" value="close" />
    <input type="hidden" name="id" value="'.$row['id'].'" />
    <input type="hidden" name="resDeviceId" value="'.$CONSOLE_DEVICE_ID.'" />
    <button>CLOSE</button></form></td>';

    print "</tr>\n";
  }
  print "</tbody></table>";
  print "<p>Number of open requests: ".$rs->RecordCount()."</p>";
?>
<div class="generate_time">
  Generated: <?php echo date(DATE_RFC822);?>&nbsp;<img src="/images/clock-silver.png"/> 
</div>
