<?php 
   //  echo "<pre>"; print_r($rs); echo"</pre>";

  print '<table id="hor-minimalist-b" summary="Staff Status Board"><thead><tr>';
  foreach ($columns as $key=>$value) {
    print '<th scope="col">'.$value.'</th>';
  }
   print '</tr></thead><tbody><tr>';
 
  $count = 0;
  foreach ($rs as $row) {
    if($count++%2!=0) {
      print '<tr>';
    } else {
      print '<tr class="alt">';
    } 
    foreach ($columns as $key=>$value) {
      if ($key == "cg_name") {
        print '<td><a href="/index/staffboard/filter/'.$row["cg_id"].'">'.$row[$key].'</a></td>';
      } else {
        print "<td>$row[$key]</td>";
      }
    }
    print "</tr>\n";
  }
  print "</tbody></table>";
  print "Total: ".$rs->RecordCount();
?>
<div class="generate_time">
  Generated: <?php echo date(DATE_RFC822);?>&nbsp;<img src="/images/clock-silver.png"/> 
</div>



