<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <link href="/css/iphone.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>

  <?php include "view/" . $this->controllerName . "/" . $this->viewName. ".phtml" ?>

</body>

</html>
