<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="Description" content="Voxgift | Giving patients the gift of voice" />
  <meta name="Keywords" content="Voxgift, Winston, WinstonPlus, WinstonPro, healthcare, mobile, app, Android, Google, Play, iOS, iPhone, iPad" />
  <?php if($this->controllerName == 'admin'): ?>
  <meta name="Robots" content="noindex, nofollow" />
  <?php else: ?>
  <meta name="Distribution" content="Global" />
  <meta name="Robots" content="index,follow" />
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28027958-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <?php endif; ?>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/favicon.ico" rel="shortcut icon">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans|Varela+Round|Montserrat:300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Voxgift <?php print($this->pageTitle); ?></title>
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <?php if($this->controllerName == 'index' && $this->actionName == 'home'): ?>
  <link rel="stylesheet" href="/css/slideshow.css">
  <script src="/js/slideshow.js"></script>
  <?php endif; ?>
</head>

<body>
        
  <div class="container">

    <header class="header clearfix">
      <div class="logo">
        <a = href="/"><img src="/images/megaphone_or.png" alt="" class="img_floatleft"/>Voxgift</a>
      </div>

      <nav class="menu_main">
        <ul>
          <li <?php if($this->controllerName == 'index' && $this->actionName == 'home'): ?>class="active"<?php endif; ?>><a href="/index/home">Home</a></li>
          <li <?php if($this->controllerName == 'index' && $this->actionName == 'winston'): ?>class="active"<?php endif; ?>><a href="/index/winston">Winston</a></li>
          <li <?php if($this->controllerName == 'index' && $this->actionName == 'winstonplus'): ?>class="active"<?php endif; ?>><a href="/index/winstonplus">WinstonPlus</a></li>
          <li <?php if($this->controllerName == 'index' && $this->actionName == 'winstonpro'): ?>class="active"<?php endif; ?>><a href="/index/winstonpro">WinstonPro</a></li>
          <li <?php if($this->controllerName == 'index' && $this->actionName == 'trainer'): ?>class="active"<?php endif; ?>><a href="/index/trainer">Trainer</a></li>
          <li <?php if($this->controllerName == 'index' && $this->actionName == 'about'): ?>class="active"<?php endif; ?>><a href="/index/about">About</a></li>
        </ul>
      </nav>
    </header>

    <?php include "view/" . $this->controllerName . "/" . $this->viewName. ".phtml" ?>

    <div class="push"></div>
  </div>
  <footer class="footer clearfix">
    <div class="copyright">Copyright &copy; <?php $date = new DateTime("now", new DateTimeZone("America/Chicago")); print($date->format('Y'));?> Voxgift Inc. All rights reserved</div>

    <nav class="menu_bottom">
      <ul>
        <li <?php if($this->controllerName == 'index' && $this->actionName == 'home'): ?>class="active"<?php endif; ?>><a href="/index/home">Home</a></li>
        <li <?php if($this->controllerName == 'legal' && $this->actionName == 'eula'): ?>class="active"<?php endif; ?>><a href="/legal/eula">EULA</a></li>
        <li <?php if($this->controllerName == 'legal' && $this->actionName == 'privacy'): ?>class="active"<?php endif; ?>><a href="/legal/privacy">Privacy</a></li>
      </ul>
    </nav>
  </footer>
</body>
</html>