    <div class="info">
      <article class="article clearfix">
		<nav class="menu_sub">
		  <ul>
		  <li <?php if($this->controllerName == 'legal' && $this->actionName == 'eula'): ?>class="active"<?php endif; ?>><a href="/legal/eula">EULA</a></li>
		  <li <?php if($this->controllerName == 'legal' && $this->actionName == 'privacy'): ?>class="active"<?php endif; ?>><a href="/legal/privacy">Privacy</a></li>
		  </ul>
		</nav>
        <div class="col_100">
		  <?php print($this->content); ?>
 		</div>        
      </article>
    </div>
