    <div class="info">

      <article class="article clearfix">
		<?php include self::MENU_TEMPLATE; ?>

        <div class="col_33">
          <h2>Winston</h2>
		  <h3>Survey Stats</h3>
          <table class="table">
			<tr><th>Num responses</th><td><?php print($winstonData['numResponses']); ?></td></tr>
			<tr><th>Last response</th><td><?php print($winstonData['lastResponse']); ?></td></tr>
		  </table>
		  <p><a href="/admin/winston/limit/10">More..</a></p>
        </div>

        <div class="col_33">
          <h2>WinstonPlus</h2>
		  <h3>Standard Dictionary</h3>
          <table class="table">
			<tr><th>Num entries</th><td><?php print($winstonPlusStandardDictionaryData['numEntries']); ?></td></tr>
			<tr><th>Usage count</th><td><?php print($winstonPlusStandardDictionaryData['usageCount']); ?></td></tr>
			<tr><th>Last usage</th><td><?php print($winstonPlusStandardDictionaryData['lastUsageDate']); ?></td></tr>
		  </table>
		  <h3>Favorites Dictionary</h3>
          <table class="table">
			<tr><th>Num entries</th><td><?php print($winstonPlusFavoritesDictionaryData['numEntries']); ?></td></tr>
			<tr><th>Usage count</th><td><?php print($winstonPlusFavoritesDictionaryData['usageCount']); ?></td></tr>
			<tr><th>Last usage</th><td><?php print($winstonPlusFavoritesDictionaryData['lastUsageDate']); ?></td></tr>
		  </table>
		  <h3>Adhoc Dictionary</h3>
          <table class="table">
			<tr><th>Num entries</th><td><?php print($winstonPlusAdhocDictionaryData['numEntries']); ?></td></tr>
			<tr><th>Usage count</th><td><?php print($winstonPlusAdhocDictionaryData['usageCount']); ?></td></tr>
			<tr><th>Last usage</th><td><?php print($winstonPlusAdhocDictionaryData['lastUsageDate']); ?></td></tr>
		  </table>
        </div>

        <div class="col_33">
		  <h3>Circle Stats</h3>
          <table class="table">
			<tr><th>Num circles</th><td><?php print($winstonPlusCircleData['numCircles']); ?></td></tr>
			<tr><th>Last created</th><td><?php print($winstonPlusCircleData['lastCircleDate']); ?></td></tr>
			<tr><th>Num users</th><td><?php print($winstonPlusCircleData['numUsers']); ?></td></tr>
			<tr><th>Num messages</th><td><?php print($winstonPlusCircleData['numMessages']); ?></td></tr>
			<tr><th>Last message</th><td><?php print($winstonPlusCircleData['lastMessage']); ?></td></tr>
		  </table>
		  <h3>User Stats</h3>
          <table class="table">
			<tr><th>Num users</th><td><?php print($winstonPlusUserData['numUsers']); ?></td></tr>
			<tr><th>Last created</th><td><?php print($winstonPlusUserData['lastUserDate']); ?></td></tr>
		  </table>
		  <p><a href="/admin/winstonplus">More..</a></p>
        </div>

        <div class="clearfix"></div>
      </article>
    </div>
