    <div class="info">

      <article class="article clearfix">
        <div class="col_33">
          <h2>Admin Login</h2>
          <strong><?php print($this->error_string); ?></strong>

          <form id="form1" name="form1" method="post" action="/admin/login">
            <table>
              <tr>
                <td>Username:</td>
                <td><input type="text" name="username" autofocus="autofocus"/></td>
              </tr>
              <tr>
                <td>Password</td>
                <td><input type="password" name="password"/></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Login" /></td>
              </tr>
            </table>
          </form>
        </div>
        <div class="clearfix"></div>
      </article>
    </div>
