      <nav class="menu_sub">
        <ul>
          <li <?php if($this->actionName == 'dashboard'): ?>class="active"<?php endif; ?>><a href="/admin/dashboard">Dashboard</a></li>
    		  <li><a href="/survey/index">Surveys</a></li>
    		  <li><a href="/l10n/index">L10n</a></li>
    		  <li><a href="/admin/pbparse">ProtoBuf</a></li>
    		  <li><a href="https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa/wo/2.0.9.3.5.2.1.1.3.1.1" target="_blank" title="iTunesConnect (tom@jibboom.com)">iTunesConnect</a></li>
    		  <li><a href="https://play.google.com/apps/publish/v2/?dev_acc=05317280901394703406#" target="_blank" title="Google Play Store (tom.giesberg@gmail.com)">GooglePlayStore</a></li>
    		  <li><a href="https://www.google.com/analytics/web/?hl=en&pli=1#home/a28027958w53623329p54478853/" target="_blank" title="Google Analytics (tom@voxgift.com)">GoogleAnalytics</a></li>
        </ul>
        <ul>
          <li <?php if($this->actionName == 'winston'): ?>class="active"<?php endif; ?>><a href="/admin/winston">Winston</a></li>
          <li <?php if($this->actionName == 'winstonplus'): ?>class="active"<?php endif; ?>><a href="/admin/winstonplus">WinstonPlus</a></li>
          <li><a href="/admin/logout">Logout</a></li>
        </ul>
      </nav>
