    <div class="info">

      <article class="article clearfix">
		<?php include self::MENU_TEMPLATE; ?>
        <div class="col_100">
          <h2>Protocol Buffer Parser</h2>
          <p>Not ported</p>
        </div>

        <div class="clearfix"></div>
      </article>
    </div>
