    <div class="info">

      <article class="article clearfix">
		<?php include self::MENU_TEMPLATE; ?>

		<h1>WinstonPlus</h1>
        <div class="col_100">
          <table class="table">
			<thead><tr><th>Sponsor</th><th>Number circles</th><th>First circle</th><th>Last circle</th><th>Number users</th><th>Number messages</th><th>First message</th><th>Last message</th></tr></thead>
			<tbody>
			  <?php foreach($winstonPlusData as $data): ?>
			  <tr>
				<td><?php print($data['sponsorName']); ?></td>
				<td><?php print($data['numCircles']); ?></td>
				<td><?php print($data['firstCircleDate']); ?></td>
				<td><?php print($data['lastCircleDate']); ?></td>
				<td><?php print($data['numUsers']); ?></td>
				<td><?php print($data['numMessages']); ?></td>
				<td><?php print($data['firstMessageDate']); ?></td>
				<td><?php print($data['lastMessageDate']); ?></td>
			  </tr>
			  <?php endforeach; ?>
			</tbody>
		  </table>
		  <p><a href="/admin/dashboard">Dashboard..</a></p>
        </div>

        <div class="clearfix"></div>
      </article>
    </div>
