    <div class="info">

      <article class="article clearfix">
		<?php include self::MENU_TEMPLATE; ?>
<!-- id	device_id	language_code	create_ts
hw_manufacturer	hw_model	os_version	app_version_name	app_package_name	lat	lon
usage_fb	languages_fb	phrases_fb	general_fb
 -->

        <div class="col_100">
          <h2>Winston</h2>
          <table class="table">
			<thead><tr><th>ID</th><th>Create TS</th><th>OS</th><th>Lang</th><th>Usage</th><th>Languages</th><th>Phrases</th><th>General</th><th>Contact</th></tr></thead>
			<tbody>
			  <?php foreach($winstonData as $data): ?>
			  <tr>
				<td><?php print($data['id']); ?></td>
				<td><?php print($data['create_ts']); ?></td>
				<td title="<?php print($data['hw_manufacturer'] . ' ' . $data['hw_model']); ?>&#10;<?php print($data['app_package_name'] . ' ' . $data['app_version_name']); ?>&#10;<?php print($data['lat'] . ', ' . $data['lon']); ?>"><?php print($data['os']); ?></td>
				<td><?php print($data['language_code']); ?></td>
				<td><?php print($data['usage_fb']); ?></td>
				<td><?php print($data['languages_fb']); ?></td>
				<td><?php print($data['phrases_fb']); ?></td>
				<td><?php print($data['general_fb']); ?></td>
				<td><?php print($data['contact_info']); ?></td>
			  </tr>
			  <?php endforeach; ?>
			</tbody>
		  </table>
		  <p><a href="/admin/winston">Show all..</a></p>
		  <p><a href="/admin/dashboard">Dashboard..</a></p>
        </div>

        <div class="clearfix"></div>
      </article>
    </div>
