/*
f7921c gold
b31bfa purple
*/

body										{margin:0; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif}
*											{margin:0; padding:0}
a											{outline:0; text-decoration:none}
img											{border:0}
h1,h2,h3,h4,h5,h6							{font-weight:normal}
li											{list-style:none}

html, body {
  height: 100%;  
}

body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	line-height: 1.6em;
  margin: 0 auto;
}

/* page layout options */
#outerWrapper {
  position: relative;
  min-height: 100%;
}

* html #outerWrapper {
  height: 100%;
}

#innerWrapper {
  padding-bottom: 4em;
}

#footer {
  background:url(/images/headBg.png) repeat-x;
	color: #f7921c;
  float: left;
  font-size: 0.9em;
	padding: 5px;
  position: relative;
  margin-top: -2.5em;
  width: 99%;
}

#footer a {
	color: #f7921c;
  outline: 0;
  text-decoration: none;
}


/* header */
div.header {
  background:url(/images/headBg.png) repeat-x;
  height: 52px;
	padding-bottom: 2px;
	padding-top: 2px;
	margin-bottom: 20px;
  width: 100%;
}

div.header h1 {
	color: #f7921c;
  float: left;
  font-size: 1.4em;
}

div.header p{
	color: #f7921c;
  float: right;
	margin-right: 10px;
}

div.header form {
  float: right;
	margin-right: 10px;
}

div.header img {
  float:left;
  margin:0 20px;
  padding:10px 1px;
  border:0px;
}

/* nav */
div.nav {
  clear: both;
	padding: 5px 0px 0px 5px;
	text-align: left;
}

div.nav ul {
  border-bottom: 1px solid #f7921c;
	margin: 0px 5px 0px 0px;
	padding: 0px 0px 1px 0px;
	list-style:none;
}

div.nav li {
	display:inline;
}

div.nav li a{
  color: #fff;
  background:url(/images/tabBG.png) repeat-x;
  border: 1px solid #f7921c;
  border-radius: 5px 5px 0px 0px;
	padding: 5px;
	margin: 0 5px 0 0;
}
div.nav li a:hover{
  color: #959595;
  background:url(/images/tabBGSelected.png) repeat-x;
  border-bottom: 1px solid #fff;
	text-decoration: none;
	padding: 5px 4px 5px 6px;
}
div.nav li p{
  background:url(/images/tabBGSelected.png) repeat-x;
  border: 1px solid #f7921c;
  border-bottom: 1px solid #fff;
  border-radius: 5px 5px 0px 0px;
  color: #444;
	display:inline;
	padding: 5px;
	margin: 0 5px 0 0;
}

div.content {
  border: 1px solid #f7921c;
  border-top: 0px;
  color: #444;
	margin: 0 5px;
  padding: 10px;
}

div.content h1 {
	font-size: 20px;
  margin-bottom: 10px;
}
div.content p {
  margin: 10px;
}


div.chart{
  border: 1px solid #f7921c;
  float: left;
	margin: 5px;
}

div.chart h2 {
  background:url(/images/tabBG.png) repeat-x;
  border-bottom: 1px solid #f7921c;
  color: #666;
	font-size: 16px;
	padding: 5px;
}

div.generate_time
{
  clear:both;
	font-size: 10px;
	height: 16px;
	padding-top: 5px;
	text-align: right;
}

div.form{
  border: 1px solid #f7921c;
	font-size: 12px;
	margin: 5px;
}

div.form h2 {
  background:url(/images/tabBG.png) repeat-x;
  border-bottom: 1px solid #f7921c;
  color: #666;
	font-size: 16px;
	padding: 5px;
}

td.cloak form {
    display: inline;
}
td.cloak button {
    border: 0;
    padding: 0;
    display: inline;
    background: none;
    color: blue;
}
td.cloak button:hover {
    cursor: pointer;
}

div.leftnav{
  border: 1px solid #f7921c;
  float: left;
	margin: 5px;
	padding: 5px;
}

div.rightcontent{
  border: 1px solid #f7921c;
  float: left;
	margin: 5px;
	padding: 5px;
}

div.docs h3{
  color: #fff;
  background:url(/images/tabBG.png) repeat-x;
  border: 1px solid #f7921c;
  border-radius: 5px 5px 0px 0px;
  font-size: .9em;
  font-weight: 700;
	padding: 5px;
	margin: 0 5px 0 0;
}

/*  table
*/
#hor-minimalist-b
{
	font-size: 12px;
	background: #fff;
	margin: 15px;
	width: 95%;
	border-collapse: collapse;
	text-align: left;
}

#hor-minimalist-b th
{
	font-size: 14px;
	font-weight: normal;
	color: #666;
	padding: 10px 8px;
	border-bottom: 2px solid #f7921c;
}

#hor-minimalist-b td
{
	border-bottom: 1px solid #f7921c;
	color: #666;
	padding: 6px 8px;
}

#hor-minimalist-b tbody tr:hover td
{
	color: #444;
	background: #f9c17f;
}

/*  table
*/
#hor-zebra
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 5px;
	text-align: left;
	border-collapse: collapse;
}
#hor-zebra th
{
	font-size: 14px;
	font-weight: normal;
	padding: 5px;
	color: #039;
}
#hor-zebra td
{
	padding: 6px;
	color: #666;
}
#hor-zebra .odd
{
	background: #fadab5; 
}
