<h1>Diabetes Daily</h1>
  <div class="dtable">
    <script type="text/javascript">
      setTimeout(function() {pageUpdate('diabetes_daily_v1/refresh/1');}, 10000);
    </script>
    <div id="ReloadThis">
      <?php include_once($meta["path"] . '/views/survey/content/diabetes_daily_v1.phtml'); ?>
    </div>
  </div>