<h1>Feedback and Compliance Survey Management</h1>
  <table id="hor-minimalist-b" summary="TOC">
    <thead>
      <tr><th scope="col">Name</th><th scope="col">Description</th><th scope="col">Details</th></tr>
    </thead>
    <tbody>
      <?php foreach ($rs as $row): ?>
      <tr>
        <td><?php print($row["name"]) ?></td>
        <td><?php print($row["description"]) ?></td>
        <td>
          <a href="/survey/questions/survey/<?php print($row["name"]) ?>">Questions</a>
        | <a href="/survey/results/survey/<?php print($row["name"]) ?>">Results</a>
        </td>
      </tr>
      <?php endforeach; ?>
     </tbody>
  </table>
