<h1>Feedback and Compliance Survey Management</h1>
<h2><?php print($survey); ?></h2>
<p>Questions | <a href="/survey/results/survey/<?php print($survey) ?>">Results</a></p>
<div class=wsd ><pre>
<?php include_once($meta["path"] . '/views/docs/wsds/'.$survey.'.txt'); ?>
</pre></div><script type="text/javascript" src="http://www.websequencediagrams.com/service.js"></script>
