<h1>Feedback and Compliance Survey Management</h1>
<h2><?php print($survey); ?></h2>
<p><a href="/survey/questions/survey/<?php print($survey) ?>">Questions</a> | Results</p>
<div class="dtable">
  <script type="text/javascript">
    setTimeout(function() {pageUpdate('results/survey/<?php print($survey); ?>/refresh/1');}, 10000);
  </script>
  <div id="ReloadThis">
    <?php include_once($meta["path"] . '/views/survey/content/'.$survey.'.phtml'); ?>
  </div>
</div>
