<h1>Winston Feedback</h1>
  <div class="dtable">
    <script type="text/javascript">
      setTimeout(function() {pageUpdate('winston_feedback_v1/refresh/1');}, 10000);
    </script>
    <div id="ReloadThis">
      <?php include_once($meta["path"] . '/views/survey/content/winston_feedback_v1.phtml'); ?>
    </div>
  </div>