#frame {
	position: relative;
}

#single {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
}

#main {
	position: absolute;
	left: 35%;
	top: 0px;
	width: 65%;
	bottom: 0px;
	overflow: hidden;
	border-left: 1px solid black;
}

#nav {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 35%;
	bottom: 0px;
	overflow: hidden;
	border-right: 1px solid black;
}
