@CHARSET "UTF-8";

.mgwt-TextBox .mgwt-InputBox-box,.mgwt-PasswordTextBox .mgwt-InputBox-box,.mgwt-TextArea .mgwt-InputBox-box {
	color: #777;
	border: 0;
	font: normal 17px Helvetica;
	padding: 0;
	display: inline-block;
	margin-left: 0px;
	width: 100%;

	\-webkit-appearance: none;
	\-moz-appearance: none;
	\-webkit-user-select: text;
	\-moz-user-select: text;
	\-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	\-webkit-user-modify: read-write-plaintext-only;
}




@if user.agent safari {
	.mgwt-TextBox .mgwt-InputBox-box,.mgwt-PasswordTextBox .mgwt-InputBox-box,.mgwt-TextArea .mgwt-InputBox-box {
		display: -webkit-box;
		\-webkit-box-flex: 1;
	}
}

@if user.agent gecko1_8 {
	.mgwt-TextBox .mgwt-InputBox-box,.mgwt-PasswordTextBox .mgwt-InputBox-box,.mgwt-TextArea .mgwt-InputBox-box {
		display: -moz-box;
		\-moz-box-flex: 1;
	}
}



.mgwt-TextBox,.mgwt-PasswordTextBox,.mgwt-TextArea {
	position: relative;
}


@if user.agent safari {
	.mgwt-TextBox,.mgwt-PasswordTextBox,.mgwt-TextArea {
		display: -webkit-box;
		\-webkit-box-flex: 1;
	}
}

@if user.agent gecko1_8 {
	.mgwt-TextBox,.mgwt-PasswordTextBox,.mgwt-TextArea {
		display: -moz-box;
		\-moz-box-flex: 1;
	}
}



.mgwt-RadioButton {
	position: relative;
}

@if user.agent safari {
	.mgwt-RadioButton {
		display: \-webkit-box;
		-webkit-box-orient: horizontal;
		\-webkit-box-flex: 1;
	}
	.mgwt-RadioButton>label {
		display: \-webkit-box;
		\-webkit-box-flex: 1;
	}
}

@if user.agent gecko1_8 {
	.mgwt-RadioButton {
		display: \-moz-box;
		\-moz-box-orient: horizontal;
		width: 100%;
		\-moz-box-flex: 1;
	}
	.mgwt-RadioButton>label {
		display: -moz-box;
		position: relative;
		\-moz-box-flex: 1;
	}
}

/*todo*/
.mgwt-InputBox-disabled {
	color: #000;
}

.mgwt-ListBox {
	color: #777;
	border: 0;
	font: normal 17px Helvetica;
	padding: 0;
	margin-left: 0px;
	width: 100%;
	height: 100%;
	
}


@if user.agent safari {
	.mgwt-ListBox {
		display: -webkit-box;
		\-webkit-appearance: none;
		\-webkit-user-select: text;
	}
}

@if user.agent gecko1_8 {
	.mgwt-ListBox {
		display: -moz-box;
		\-moz-appearance: none;
		\-moz-user-select: text;
	}
}
/******/



