body{
	margin:0;
	padding:0;
	font-size:12px;
	font-family:verdana, Arial, Helvetica, sans-serif;
	}

table {
  border-collapse:collapse;
  }

table, td, th {
	vertical-align:top;
  border:1px solid #CCCCCC;
  }

tr.uneven {
	background: #eee;
}	
	