<h1><a name="top">Docs</a></h1>


<h3>Glossary</h3>
<table id="hor-minimalist-b" summary="TOC">
  <thead>
    <tr><th scope="col">Term</th><th scope="col">Definition</th></tr>
  </thead>
  <tbody>
    <?php foreach ($terms as $term): ?>
    <tr>
      <td><?php print $term['term']?></a></td>
      <td><?php print $term['definition']?></td>
    </tr>
    <?php endforeach; ?>
   </tbody>
</table>

<h3>User stories</h3>
<p>How the system supports the following user stories is described by sequence
diagrams, a type of interaction diagram that shows how processes operate
with one another and in what order [<a href="http://en.wikipedia.org/wiki/Sequence_diagram">Ref</a>].</p>
<table id="hor-minimalist-b" summary="TOC">
  <thead>
    <tr><th scope="col">Title</th><th scope="col">Description</th></tr>
  </thead>
  <tbody>
    <?php foreach ($wsds as $anchor => $wsd): ?>
    <tr>
      <td><a href="#<?php print($anchor) ?>" title="<?php print $wsd['title']?>"><?php print $wsd['title']?></a></td>
      <td><?php print $wsd['description']?></td>
    </tr>
    <?php endforeach; ?>
   </tbody>
</table>
<div class="docs">
<?php foreach ($wsds as $anchor => $wsd): ?>
<h3>User Story: <a name="<?php print $anchor ?>"><?php print $wsd['title']?></a></h3>
<p><?php print $wsd['description']?></p>
<div class=wsd ><pre>
  <?php include_once("wsds/".$wsd['file']); ?>
</pre></div><script type="text/javascript" src="http://www.websequencediagrams.com/service.js"></script>
<!-- <a href="#top">top</a> -->
<?php endforeach; ?>
</div>