/*  For more info see: http://code.google.com/p/mgwt/wiki/Styling */
.message_cell {
	display: table;
	width: 100%;
}

.message_cell .avatar {
	display: table-cell;
	width: 64px;
}

.message_cell .text {
	display: table-cell;
	vertical-align: top;
	padding-left: 10px;
}

.message_cell .text .title {
	display: table;
	width: 100%;
}

.message_cell .text .title .user {
	display: table-cell;
	font-weight: bold;
}

.message_cell .text .title .time {
	display: table-cell;
	font-weight: lighter;
	text-align: right;
}

.message_cell .text .message {
	display: table-cell;
}

/************************************/
.dictionary_entry {
	font-size: 1.2em;
	padding-left: 10px;
}

/************************************/
.main_panel {
	display: -webkit-box;
	display: box;
	-webkit-box-orient: vertical;
	box-orient: vertical;
	width: 100%;
	height: 100%;
}

.main_panel .create_panel {
	-webkit-box-flex: 1.0;
	box-flex: 1.0;
	-webkit-box-orient: horizontal;
	box-orient: horizontal;
	position: relative;
}

.main_panel .footer_panel {
	-webkit-box-flex: 0.0;
	box-flex: 0.0;
	height: auto;
}

/************************************/
.frame_panel {
	display: -webkit-box;
	display: box;
	-webkit-box-orient: vertical;
	box-orient: vertical;
}

.frame_panel .body_panel {
	-webkit-box-flex: 1.0;
	box-flex: 1.0;
	-webkit-box-orient: horizontal;
	box-orient: horizontal;
	position: relative; /* needed for  2 frame view (see app.css) */
}

.box_flex_1 {
	-webkit-box-flex: 1.0;
	box-flex: 1.0;
}

/************************************/
.working {
	background-color: rgba(255, 255, 255, 0.75);
}

.login {
	background-color: #ffffff;
}
/*
	background: #ffffff url('images/background.jpg') no-repeat fixed center;


	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: rgba(255, 255, 255, 0.75);
*/
.login .container {
	margin-top: 15px;
	text-align: center;
}

.login .container .inner_container {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.login .container .inner_container .prompt {
	color: #666;
	font-size: 0.8em;
	margin-top: 10px;
	text-align: left;
	text-transform: uppercase;
}

.login .container .controls {
	border-top: solid 1px #d3d3d3;
	border-bottom: solid 1px #d3d3d3;
}

.login .status {
	color: #000000;
	font-size: 0.8em;
	text-align: center;
}

.login .error {
	color: #ff0000;
	font-size: 0.8em;
	text-align: center;
}

/************************************/
.sub-menu-indicator {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 0 10px 10px;
	border-color: transparent transparent rgba(128, 128, 128, 0.5)
		transparent;
	position: relative;
	left: -10px;
	top: 10px;
}

.sub-menu-indicator1:after {
	content: "";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 0 10px 10px;
	border-color: transparent transparent #d3d3d3 transparent;
	position: relative;
	left: -10px;
	top: -10px;
}

/************************************/
.help {
	background: #ffffff url('images/background.jpg') no-repeat fixed center;
}

.help p,.help li,.help h2,.help h3 {
	color: #000000;
}

.help p {
	padding: 10px;
}

.help ul {
	list-style-type: square;
	padding-left: 20px;
	margin-left: 20px;
}

/************************************/
.help_controls {
	display: table;
}

.help_controls .previous,.help_controls .previous_disabled,.help_controls .next,.help_controls .next_disabled,.help_controls .close,.help_controls .blank
	{
	display: table-cell;
	width: 40px;
	height: 40px;
	border: none;
	padding: 0;
	margin: 0;
}

.help_controls .previous {
	background: transparent url('images/arrow_left_24_white.png') no-repeat
		center center;
}

.help_controls .previous_disabled {
	background: transparent url('images/arrow_left_24.png') no-repeat center
		center;
}

.help_controls .next {
	background: transparent url('images/arrow_right_24_white.png') no-repeat
		center center;
}

.help_controls .next_disabled {
	background: transparent url('images/arrow_right_24.png') no-repeat
		center center;
}

.help_controls .close {
	background: transparent url('images/delete_24_white.png') no-repeat
		center center;
}

.help_controls .blank {
	background: transparent;
}

/************************************/

.legal p {
	padding: 10px;
}

/************************************/
.search_panel {
	display: table;
}

.search_panel .text {
	display: table-cell;
	vertical-align: top;
	padding-right: 10px;
}

.search_panel .button {
	display: table-cell;
	width: 24px;
	height: 24px;
	border: none;
	color: transparent;
	font-size: 0;
	padding: 0;
	margin: 0;
	background: transparent url('images/magnifier_24.png') no-repeat center
		center;
}

/************************************/
.sorting_cell {
	display: table;
	width: 100%;
}

.sorting_cell .text {
	display: table-cell;
	vertical-align: top;
	padding-right: 10px;
}

.sorting_cell .controls {
	float: right;
	display: table;
	width: 120px;
	height: 30px;
	border: none;
	color: transparent;
	font-size: 0;
}

.sorting_cell .controls .up {
	display: table-cell;
	width: 30px;
	background: transparent url('images/arrow_up_24.png') no-repeat center
		center;
}

.sorting_cell .controls .down {
	display: table-cell;
	width: 30px;
	background: transparent url('images/arrow_down_24.png') no-repeat center
		center;
}

.sorting_cell .controls .delete {
	display: table-cell;
	width: 30px;
	background: transparent url('images/delete_24.png') no-repeat center
		center;
}

.sorting_cell .controls .blank {
	display: table-cell;
	width: 30px;
	background: transparent;
}

/************************************/