body {
    background-color: #313131;
}
.container,
.container h1,
.container h2 {
    color: #fff;
    background-color: #313131;
    font-weight: 300;
}
.slideshow { 
    max-width: 800px;
    margin: auto;
}
.slide {
    font-size: 2.5em;
    text-align: center;
}
.control_bar {
    clear: both;
    width: 100%;
}
.button_play,
.button_pause {
    cursor: pointer;
    border: none;
    width: 20px;
    height: 20px;
    margin: auto;
}
.button_play { background: url(/images/play.png) no-repeat }
.button_pause { background: url(/images/pause.png) no-repeat }

.header,
.header:before {
    border-bottom: 0;
}
