html {
    height: 100%;
    overflow-x: hidden;
}
body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #000;
    background: #fff;
    height: 100%;
}
a,
a:visited {
    color: #F7921C;
    text-decoration: none;
}
a:hover {
    color: #666;
    text-decoration: underline;
}
.link_icon,
.download_link_icon,
.video_link_icon {
    padding-right: 30px;
    margin-right: 12px;
}
.link_icon {
    background: url(/images/arrow_right_or.png) no-repeat right;
}
.link_icon:hover {
    background: url(/images/arrow_right_gr.png) no-repeat right;
}
.download_link_icon {
    background: url(/images/arrow_down_or.png) no-repeat right;
}
.download_link_icon:hover {
    background: url(/images/arrow_down_gr.png) no-repeat right;
}
.video_link_icon {
    background: url(/images/play_or.png) no-repeat right;
}
.video_link_icon:hover {
    background: url(/images/play_gr.png) no-repeat right;
}
ul li,
ol li { padding: 0 0 0.4em 0 }
.container {
    max-width: 1300px;
    margin: 0 auto;
}
.header {
    padding: 2em 2% 2em 2%;
    background: #313131;
    border-bottom: 5px solid #F7921C;
    position: relative;
}
.header:before {
    content: "";
    display: block!important;
    background: #313131;
    border-bottom: 5px solid #F7921C;
    height: 100%;
    width: 6000px;
    position: absolute;
    left: -2000px;
    top: 0;
    z-index: -1;
}
.logo {
    float: left;
    display: inline-block;
    font-size: 26px;
    color: #666;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.logo img {
    margin-right: 5px;
}
.logo a,
.logo a:hover,
.logo a:visited {
    color: #666;
    text-decoration: none;
}
.menu_main {
    width: 50%;
    float: right;
    text-align: right;
    margin: 0.3em 0 0 0;
}
.menu_main li {
    display: inline-block;
    margin: 0 0 0 7px;
}
.menu_main li a,
.menu_main li a:visited {
    color: #666;
    text-decoration: none;
}
.menu_main li a:hover,
.menu_main li a:visited:hover {
    color: #fff;
    text-decoration: underline;
}
.menu_main li.active,
.menu_main li.active a {
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    cursor: default;
}
.menu_sub {
    width: 100%;
    float: right;
    text-align: right;
    margin: 0.3em 2% 0.3em 0;
}
.menu_sub li {
    display: inline-block;
    margin: 0 0 0 7px;
}
.menu_sub li a,
.menu_sub li a:visited {
    color: #666;
    text-decoration: none;
}
.menu_sub li a:hover,
.menu_sub li a:visited:hover {
    color: #000;
    text-decoration: underline;
}
.menu_sub li.active,
.menu_sub li.active a {
    font-size: 1.1em;
    color: #000;
    text-decoration: none;
    cursor: default;
}
.hero {
    padding: 10px 0 10px 2%;
    position: relative;
}
.hero:before {
    content: "";
    display: block!important;
    height: 100%;
    width: 6000px;
    position: absolute;
    left: -2000px;
    top: 0;
    z-index: -1;
}
.info { padding: 0 0 2.5em 0 }
.article { padding: 0 0 0 2% }
.footer {
    padding: .5em 2% .5em 2%;
    color: #666;
    background: #fff;
    position: relative;
}
.footer:before {
    content: "";
    display: block!important;
    background: #fff;
    height: 100%;
    width: 6000px;
    position: absolute;
    left: -2000px;
    top: 0;
    z-index: -1;
    -webkit-box-shadow: #d8d8d8 0px -1px 5px;
    -moz-box-shadow: #d8d8d8 0px -1px 5px;
    box-shadow: #d8d8d8 0px -1px 5px;
}
.copyright {
    width: 49%;
    float: left;
}
.menu_bottom {
    width: 50%;
    float: right;
    text-align: right;
    margin: 0;
    padding: 0;
}
.menu_bottom li {
    display: inline-block;
    margin: 0 0 0 7px;
}
.menu_bottom li a { color: #666 }
.menu_bottom li a:hover { color: #444 }
.menu_bottom li.active,
.menu_bottom li.active a {
    color: #666;
    text-decoration: none;
    cursor: default;
}
.hero h1 {
    font-size: 24px;
    color: #313131;
}
h1,
h2 {
    font-weight: normal;
    color: #010101;
}
h3,
h4,
h5,
h6 {
    font-weight: bold;
    color: #010101;
}
h1 { font-size: 22px }
.form label {
    display: inline-block;
    padding: 0 0 4px 0;
}
a.button,
.button {
    border: 1px solid #9a9a9a;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.64) 0px 1px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.64) 0px 1px 4px;
    box-shadow: rgba(0, 0, 0, 0.64) 0px 1px 4px;
    background: #ffffff;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#e2e2e2));
    background: -webkit-linear-gradient(#ffffff, #e2e2e2);
    background: -moz-linear-gradient(#ffffff, #e2e2e2);
    background: -ms-linear-gradient(#ffffff, #e2e2e2);
    background: -o-linear-gradient(#ffffff, #e2e2e2);
    background: linear-gradient(#ffffff, #e2e2e2);
    color: #484848;
    font-size: 14px;
    padding: 5px 14px;
    font-family: verdana, sans-serif;
    display: inline-block;
}
a.button:hover,
.button:hover {
    border: 1px solid #5a5a5a;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e2e2e2), to(#ffffff));
    background: -webkit-linear-gradient(#e2e2e2, #ffffff);
    background: -moz-linear-gradient(#e2e2e2, #ffffff);
    background: -ms-linear-gradient(#e2e2e2, #ffffff);
    background: -o-linear-gradient(#e2e2e2, #ffffff);
    background: linear-gradient(#e2e2e2, #ffffff);
}
a.button:active,
.button:active {
    color: #666;
    -webkit-box-shadow: #5a5a5a 0px 3px 5px inset;
    -moz-box-shadow: #5a5a5a 0px 3px 5px inset;
    box-shadow: #5a5a5a 0px 3px 5px inset;
}
.table { width: 100% }
.table th {
    padding: 5px 7px;
    font-weight: bold;
    text-align: left;
}
.table td { padding: 5px 7px }
.table tr { border: 1px solid #eee }
.table tr:nth-child(even) { background: #eee }
.table tr:last-child { }
.warning {
    border: 1px solid #d03f3f;
    color: #fff;
    padding: 8px 14px;
    background: #d03f3f;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.success {
    border: 1px solid #49d76e;
    color: #fff;
    background: #49d76e;
    padding: 8px 14px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.message {
    border: 1px solid #d7cf49;
    color: #fff;
    background: #d7cf49;
    padding: 8px 14px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.dictionary_entry {
    font-family: serif;
    font-size: 1.2em;
    padding-left: 20px;
}
/* sticky footer adjustments */
.container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -2.5em;
}
.footer, .push {
    clear: both;
    height: 2.5em;
}
/* screen size adjustments */
@media only screen and (max-width:480px) { 
    /* Smartphone custom styles */
    .header:before,
    .hero:before,
    .footer:before { display: none!important }
    .container { margin: 0 auto -5em; }
    .footer, .push { height: 5em; }
}
@media only screen and (max-width:768px) { 
    /* Tablet custom styles */
    .header:before,
    .hero:before { display: none!important }
}
