<h1>Adminstration</h1>
  <table id="hor-minimalist-b" summary="TOC">
     <thead>
      <tr><th scope="col">Page</th><th scope="col">Usage</th></tr>
     </thead>
     <tbody>
      <tr><td><a href="/index/database">Database</a></td><td>Database view</td></tr>
      <tr><td><a href="admin/index.php">Control Panel</a></td><td>Administer the system.</td></tr>
     </tbody>
  </table>
