  <script src="/library/rgraph/libraries/RGraph.common.core.js" ></script>
  <script src="/library/rgraph/libraries/RGraph.bar.js" ></script>
  <script src="/library/rgraph/libraries/RGraph.pie.js" ></script>
  <!--[if IE 8]><script src="/library/rgraph/excanvas/excanvas.original.js"></script><![endif]-->
  <script type="text/javascript">
    function updateResTimeChart($data, $labels)
    {
      var chart = new RGraph.Pie('responseTimeChart', $data);
      chart.Set('chart.labels', $labels);
      chart.Set('chart.gutter.left', 15);
      chart.Set('chart.colors', ['green', 'yellow','red']);
      chart.Draw();
    }

    function updateReqDistChart($data, $labels)
    {
      var chart = new RGraph.Bar('requestDistributionChart', $data);
      chart.Set('chart.labels', $labels);
      chart.Set('chart.colors', ['blue']);
      chart.Set('chart.gutter.left', 25);
      chart.Draw();
    }
  </script>

<h1>Dashboard</h1>

  <script type="text/javascript">
    setTimeout(function() {pageUpdate('dashboard/refresh/1');}, 10000);
  </script>
  <div id="ReloadThis">
		<?php include_once($meta["path"] . '/views/index/content/dashboard.phtml'); ?>
  </div>
