<h1>Database</h1>
<?php if (array_key_exists("params", $meta) && array_key_exists("table", $meta["params"])): ?>
	<div class="dtable">
		<script type="text/javascript">
			setTimeout(function() {pageUpdate('database/table/<?php print $meta["params"]["table"];?>/refresh/1');}, 10000);
		</script>
		<div id="ReloadThis">
			<?php include_once($meta["path"] . '/views/index/content/database.phtml'); ?>
		</div>
	</div>
<?php else: ?>
	<div class="dtable">
		<script type="text/javascript">
			setTimeout(function() {pageUpdate('database/refresh/1');}, 10000);
		</script>
		<div id="ReloadThis">
			<?php include_once($meta["path"] . '/views/index/content/database.phtml'); ?>
		</div>
	</div>
<?php endif; ?>
