<form name="input" action="/index/changedepartment" method="post">
  <p>
    <label for="name">Department: <em>*</em></label>
    <select name="departmentid">
    <?php foreach ($rsDept as $row) : ?>
      <option value="<?php print $row['id']; ?>"<?php if($row['id'] == $meta ["departmentid"]):?> selected="selected"<?php endif; ?>>
        <?php print $row['name']; ?>
      </option>
    <?php endforeach; ?>
    </select>
  </p>
  <p>
    <input type="submit" value="Change" /></a>
  </p>
</form>
