<h1>Welcome</h1>
<p>This is a demo site for the fictional St. Demo's Medical Center. Please feel free to explore these pages.</p>
  <table id="hor-minimalist-b" summary="TOC">
    <thead>
      <tr><th scope="col">Page</th><th scope="col">Usage</th></tr>
    </thead>
    <tbody>
      <?php foreach ($meta["navitems"] as $key=>$value): ?>
      <tr>
        <td><a href="<?php print($key) ?>" title="<?php print($meta[$value]["description"]) ?>"><?php print($meta[$value]["title"]) ?></a></td>
        <td><?php print($meta[$value]["summary"]) ?></td>
      </tr>
      <?php endforeach; ?>
      <tr><td><a href="/index/admin">Adminstration</a></td><td>Administer the system.</td></tr>
     </tbody>
  </table>

<div class="form">
<h2>Change Departments</h2>
<?php include_once("departmentform.phtml"); ?>
</div>

<div class="form">
<h2>New request</h2>
<p>You can use this form to generate a new request:</p>
<?php include_once("requestform.phtml"); ?>
</div>
