<form name="input" action="/index/newnote/patient_id/<?php print $rs0->fields['id']; ?>" method="post">
  <p><em><?php print $meta["status"] ?></em></p>
  <p>
    <label for="topic">Topic: <em>*</em></label>
    <input type="text" name="topic"/>  <em><?php print($inputError["topic"]);?></em>
  </p>
  <p>
    <label for="note">Note: <em>*</em></label>
    <textarea name="note" rows="4" cols="50"></textarea> <em><?php print($inputError["note"]);?></em>
  </p>
  <p>
    <label value="<?php print $rs0->fields['id']; ?>"/>
    <input type="hidden" name="patient_id" value="<?php print $rs0->fields['id']; ?>"/>
    <input type="submit" value="Submit" />
  </p>
</form>
