<h1>Open Patient Request Board</h1>
<ul>
  <li>Select the ACK Action to notify the requestor that their request has been acknowledged.</li>
  <li>Requests can be acknowledged multiple times.</li>
  <li>Requests that have not yet been acknowledged are indicated with an alert symbol <img src="/images/alert.png" alt="Alert icon"/>.</li>
  <li>Select the CLOSE Action once a request has been satisfied.</li>
</ul>
<div class="dtable">
  <script type="text/javascript">
    setTimeout(function() {pageUpdate('openrequestboard/refresh/1');}, 10000);
  </script>
  <div id="ReloadThis">
		<?php include_once($meta["path"] . '/views/index/content/openrequestboard.phtml'); ?>
  </div>
</div>
