<h1>Patient Board</h1>

<?php if (array_key_exists("params", $meta) && array_key_exists("patient_id", $meta["params"])): ?>
  <?php if ($meta["params"]["patient_id"] == "none"): ?>

    <p>This is a list of all patients. [<a href="/index/patientboard">Show current patients only</a>]</p>

  <?php else: ?>

    <p>Name: <?php print $rs0->fields['uname']; ?>
      [<a href="/index/patientboard">Show current patients</a>]
      [<a href="/index/patientboard/patient_id/none">Show all patients</a>]
    </p>
    <p>Dates: <?php print $rs0->fields['create_ts']; ?> - <?php print $rs0->fields['delete_ts']; ?></p>
    <div class="form">
    <h2>Add Note</h2>
      <?php include_once("noteform.phtml"); ?>
  </div>
  <?php endif; ?>

  <div class="dtable">
    <script type="text/javascript">
      setTimeout(function() {pageUpdate('patientboard/patient_id/<?php print $meta["params"]["patient_id"];?>/refresh/1');}, 10000);
    </script>
    <div id="ReloadThis">
      <?php include_once($meta["path"] . '/views/index/content/patientboard.phtml'); ?>
    </div>
  </div>

<?php else: ?>

  <p>This is a list of current patients. [<a href="/index/patientboard/patient_id/none">Show all patients</a>]</p>
  <div class="dtable">
    <script type="text/javascript">
      setTimeout(function() {pageUpdate('patientboard/refresh/1');}, 10000);
    </script>
    <div id="ReloadThis">
      <?php include_once($meta["path"] . '/views/index/content/patientboard.phtml'); ?>
    </div>
  </div>

<?php endif; ?>