<form name="input" action="/index/newrequest" method="post">
  <p>
    <label for="req_device_id">Device ID: <em>*</em></label>
    <input type="text" name="req_device_id" value="<?php print($userInput["req_device_id"]);?>"/> <em><?php print($inputError["req_device_id"]);?></em>
  </p>
  <p>
    <label for="request">Request: <em>*</em></label>
    <input type="text" name="request" value="<?php print($userInput["request"]);?>"/> <em><?php print($inputError["request"]);?></em>
  </p>
  <p>
    <input type="submit" value="Submit" /> | <a href="/index/index">Cancel</a>
  </p>
</form>
