<h1>Staff Board</h1>

<?php if (array_key_exists("params", $meta) && array_key_exists("filter", $meta["params"])): ?>

  <?php if ($meta["params"]["filter"] == "none"): ?>

    <p>This is a complete staff list. [<a href="/index/staffboard">Show on-duty staff only</a>]</p>

  <?php else: ?>

		<p>Staff member data
			[<a href="/index/staffboard">Show all on-duty staff</a>]
			[<a href="/index/staffboard/filter/none">Show all staff</a>]
		</p>
		<table>
		<?php foreach ($columns0 as $key=>$value): ?>
			<tr>
				<td><?php print $value; ?>:</td>
				<td><?php print $rs0->fields[$key]; ?></td>
		  </tr>
		<?php endforeach; ?>
		</table>
  <?php endif; ?>

	<div class="dtable">
		<script type="text/javascript">
			setTimeout(function() {pageUpdate('staffboard/filter/<?php print $meta["params"]["filter"];?>/refresh/1');}, 10000);
		</script>
		<div id="ReloadThis">
			<?php include_once($meta["path"] . '/views/index/content/staffboard.phtml'); ?>
		</div>
	</div>

<?php else: ?>

	<p>This is a list of on-duty staff. [<a href="/index/staffboard/filter/none">Show all staff</a>]</p>
	<div class="dtable">
		<script type="text/javascript">
			setTimeout(function() {pageUpdate('staffboard/refresh/1');}, 10000);
		</script>
		<div id="ReloadThis">
			<?php include_once($meta["path"] . '/views/index/content/staffboard.phtml'); ?>
		</div>
	</div>

<?php endif; ?>