<script>
function clickPreviousLink() {
<?php if ($currentPage == $inputController->getFirstPage()): ?>
    window.location = "<?php print($baseUrl);?>/cancel";
<?php else: ?>
    window.location = "<?php print($baseUrl);?>/previous";
<?php endif; ?>
}  
</script>

<h3><?php print($title); ?></h3>
<?php if($callout != null) : ?>
<div class="callout"><?php print($callout); ?></div>
<?php endif; ?>
<?php if($details != null) : ?>
<p><?php print($details); ?></p>
<?php endif; ?>
<?php if($type == 1) : ?>
    <ul>
    <?php foreach ($choices as $key=>$value):?>
      <li class="arrow"><a href="<?php print($baseUrl);?>/next/<?php print($currentPage);?>/<?php print($key);?>"><?php print($value);?></a></li>
    <?php endforeach; ?>  
    </ul>
<?php elseif($type == 2) : ?>
  <form action="<?php print($baseUrl);?>/next" method="post">
    <ul>
    <?php foreach ($choices as $key=>$value):?>
      <li><?php print($value);?><small><input type="checkbox" name="<?php print($key);?>" <?php if($currentValue[$key]):?>checked="checked"<?php endif;?>/></small></li>
    <?php endforeach; ?>  
    </ul>
    <input type="submit" class="white button" style="width: 100%" value="<?php print($xpathvar->query('//option_list[@name="buttons"]/option[@id="next"]')->item(0)->textContent); ?>"/>
  </form>
<?php elseif($type == 3) : ?>
  <form action="<?php print($baseUrl);?>/next" method="post">
  <ul><li><textarea name="<?php print($currentPage);?>" placeholder="<?php print($hint);?>"><?php print($currentValue);?></textarea></li></ul>
    <input type="submit" class="white button" style="width: 100%" value="<?php print($xpathvar->query('//option_list[@name="buttons"]/option[@id="next"]')->item(0)->textContent); ?>"/>
  </form>
<?php endif; ?>
<?php if($note != null) : ?>
<p><?php print($note); ?></p>
<?php endif; ?>
<?php if($buttonNext != null) : ?>
  <a href="<?php print($baseUrl);?>/next" class="white button"><?php print($buttonNext); ?></a>
<?php endif; ?>
<?php if($buttonClose != null) : ?>
  <a href="<?php print($baseUrl);?>/close" class="white button"><?php print($buttonClose); ?></a>
<?php endif; ?>


<?php if(TRUE) : ?>
<input onclick='clickPreviousLink()' type="button" value="Temporary Back Button"/>
<?php endif; ?>

<pre>
<?php //print_r($inputController); ?>
<?php //print_r($_SESSION); ?>
<?php //print_r($_REQUEST); ?>
</pre>