<?php
		define('DIRECT_ACCESSIBLE', TRUE);
		include_once('library/l10n/includes/common.php');

		include_once('controllers/l10n/distribute.php');
		
    $files = L10n\compareFiles($languages, $surveys, $basedir, $androiddir, $iosdir, $serverdir, $serverdir2);

?>
    <h1><a href="/l10n/index/">L10n</a> > Compare</h1>
    <table>
				<tr><th></th><th></th><th>Src</th><th>Dest</th><th>Comp</th></tr>
    <?php foreach ($files as $index=>$file): ?>
        <tr <?php if (!($index % 2)): ?> class="uneven"<?php endif; ?>>
						<td><img src="/images/l10n/<?php print($file["lang"]);?>.jpg"/></td>
						<td><?php print($index+1); ?></td>
						<td><?php print($file["src"]);?></td>
						<td style="color:<?php  print($file["color"]);?>"><?php print($file["dest"]);?></td>
						<td><?php print($file["comp"]);?></td>
				</tr>
    <?php endforeach; ?>
	  </table>
    <a href="/l10n/update">Update dest from src</a>
