    <div class="info">

      <article class="article clearfix">
        <div class="col_100">
          <h2>Localization</h2>
          <p>Not ported</p>
        </div>

        <div class="clearfix"></div>
      </article>
    </div>
<?php /* ?>
<?php
    define('DIRECT_ACCESSIBLE', TRUE);
    include('library/l10n/includes/common.php');
    
    // Default language to select?
    include('library/l10n/includes/checklanguage.php');
    $defaultLanguage = getDefaultLanguage('aa');
    if (strlen($defaultLanguage) > 2) {
      // Remove regional identifier
      $defaultLanguage = substr($defaultLanguage, 0, 2);
    }
    
    $lang = null;
    if (array_key_exists("lang", $meta["params"])) {
      $lang = $meta["params"]["lang"];
    }
    if (array_key_exists("lang", $_POST)) {
      $lang = $_POST["lang"];
    }

?>
<?php if ($lang): ?>
	  <h1><a href="/l10n/index/">L10n</a> > <?php print($lang) ?></h1>
<?php else: ?>
    <h1>L10n</h1>
<?php endif; ?>
    <br/>
    <div>Both the app user interface (UI) and the phrases that the app speaks on behalf
    of the user need to be translated. In the screenshots below, the areas shown
    in pink are the phrases and everything else is the app UI.</div>
    <div>
    <img src="/images/ui_hint.png" alt="" />
    </div>
    
<?php if ($lang): ?>
    <table>
      <tr>
        <th>Resource</th>
        <th>Action</th>
      </tr>
      <tr class="uneven">
        <td>Application Text</td>
        <td>
          <a href="/l10n/edit/type/app/lang/<?php print($lang); ?>">Edit</a>
          | <a href="/l10n/print/type/app/lang/<?php print($lang); ?>">Print</a>
          | <a href="/l10n/download/type/app/lang/<?php print($lang); ?>/app-<?php print($lang); ?>.csv">Download (CSV)</a>
        </td>
      </tr>
      <tr>
        <td>Phrases Dictionary</td>
        <td>
          <a href="/l10n/edit/type/phrases/lang/<?php print($lang); ?>">Edit</a>
          | <a href="/l10n/print/type/phrases/lang/<?php print($lang); ?>">Print</a>
          | <a href="/l10n/download/type/phrases/lang/<?php print($lang); ?>/phrases-<?php print($lang); ?>.csv">Download (CSV)</a>
        </td>
      </tr>
  <?php foreach ($surveys as $survey): ?>
      <tr class="uneven">
        <td>Survey: <?php print($survey); ?></td>
        <td>
          <a href="/l10n/edit/type/surveys/lang/<?php print($lang); ?>/survey/<?php print($survey); ?>">Edit</a>
          | <a href="/l10n/print/type/surveys/lang/<?php print($lang); ?>/survey/<?php print($survey); ?>">Print</a>
          | <a href="/l10n/download/type/surveys/lang/<?php print($lang); ?>/survey/<?php print($survey); ?>/survey-<?php print($survey); ?>-<?php print($lang); ?>.csv">Download (CSV)</a>
        </td>
      </tr>
  <?php endforeach; ?>
    </table>

<?php else: ?>

  <p>Begin by entering your email address. Then select a language and press go: </p>
  <form  method="post" action="/l10n/index">
     <label>Email: <input type="input" id="useremail" name="useremail" value="<?php print($_SESSION['login']['useremail']); ?>" /></label>
     <label>Language: <select name="lang">
    <?php foreach ($languages as $language): ?>
      <option value="<?php print($language);?>"><?php print($iso639[substr($language, 0, 2)]);?> (<?php print($language);?>)</option>
    <?php endforeach; ?>
    </select></label>
    <input type="submit" value="Go"/>
  </form>

<?php endif; ?>
<?php */ ?>