    <div class="info">

      <article class="article clearfix">

        <div class="col_100">
          <h2>Surveys</h2>
          <table class="table">
            <thead>
              <tr><th scope="col">Name</th><th scope="col">Description</th><th scope="col">Details</th></tr>
            </thead>
            <tbody>
              <?php while ($row = $statement->fetch(PDO::FETCH_ASSOC)): ?>
              <tr>
                <td><?php print($row["name"]) ?></td>
                <td><?php print($row["description"]) ?></td>
                <td>
                  <a href="/survey/questions/survey/<?php print($row["name"]) ?>">Questions</a>
                | <a href="/survey/input/survey/<?php print($row["name"]) ?>">Input</a>
                | <a href="/survey/results/survey/<?php print($row["name"]) ?>">Results</a>
                </td>
              </tr>
              <?php endwhile; ?>
             </tbody>
          </table>
        </div>

      </article>
    </div>
