    <div class="info">
      <article class="article clearfix">

        <div class="col_100">
          <h2>Surveys</h2>
          <h2><?php print($surveyName); ?></h2>
          <div class=wsd ><pre>
          <?php include_once('view/survey/'.$surveyName.'.txt'); ?>
          </pre></div><script type="text/javascript" src="http://www.websequencediagrams.com/service.js"></script>
        </div>

      </article>
    </div>
