    <div class="info">
      <article class="article clearfix">

        <div class="col_100">
          <h2>Surveys</h2>
          <h2><?php print($surveyName); ?></h2>
          <table class="table">
            <thead>
              <tr><?php foreach($cols as $col): ?><th scope="col"><?php print($col); ?></th><?php endforeach; ?></tr>
            </thead>
            <tbody>
              <?php while ($row = $statement->fetch(PDO::FETCH_ASSOC)): ?>
              <tr><?php foreach($cols as $col): ?><td><?php print($row[$col]); ?></td><?php endforeach; ?></tr>
              <?php endwhile; ?>
             </tbody>
          </table>
        </div>

      </article>
    </div>
